/* CSS Styles*/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logo {
    width: 45px;
    height: auto;
}

.lemur {
    font-family: Belgrano;
    font-style: normal;
    font-size: 48px;
    letter-spacing: 0.185em;
}

.left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.links {
    display: flex;
    gap: 79px;
    font-size: 2vh;
    color: black;
    font-family: 'Comfortaa', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

header, .welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-left: 16.5vh;
    margin-right: 16.5vh;
    margin-top: 1vh;
    margin-bottom: 10.5vh;
}


.welcome-section {
    margin-left: 16.5vh;
    margin-right: 16.5vh;
    margin-bottom: 10.5vh;
}

.presentation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    font-family: Raleway;
    color: #000000;
}

h1 {
    font-weight: bold;
    font-size: 12vh;
    letter-spacing: 0.10em;
    line-height: 13vh;
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

.impact {
    font-weight: normal;
    font-size: 3vh;
}

.front {
    width: 220vh;
    height: auto;
}

span {
    color: #F1510CCC;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12.5vh;
    margin-left: 16.5vh;
    margin-right: 16.5vh;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5vh;
}

.titletwo {
    align-self: flex-start;
    font-size: 10vh;
}

video {
    width: 50vh;
    height: auto;
    object-fit: cover;
}

.feedback {
    background-color: honeydew;
    padding: 10vh 16.5vh;
    margin: 0;
    margin-bottom: 12.5vh;
    display: flex;
    flex-flow: column nowrap;
}

.author {
    font-weight: bold;
    font-size: 2vh;
    align-self: flex-end;
}

.social {
    margin-bottom: 12.5vh;
    margin-left: 16.5vh;
    margin-right: 16.5vh;
    background-color: #F1510CCC;
    padding: 5vh 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    padding: 4vh 20vh;
    text-align: center;
}

.subaction {
    font-family: Raleway;
    color: #000000;
    font-size: 2vh;
}

.action {
    font-size: 3vh;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonsocial {
    width: 8vh;
    height: auto;
    margin: 2vh;
}